* {
    font-family: 'Gogh', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@import 'base/_variables.scss';

.container {
    width: 1280px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/brand';
@import 'blocks/button';
@import 'blocks/titles';
@import 'blocks/how-it-works';
@import 'blocks/item';
@import 'blocks/mission';
@import 'blocks/advantages';
@import 'blocks/reviews';
@import 'blocks/conclusion';
@import 'blocks/footer';