.reviews{
    margin-top: 72px;
    min-height: 369px;
    &__wrapper{
        padding-top: 48px;
        padding-bottom: 32px;
    }
    &__slider-inner{
        display: flex;
        // justify-content: space-between;
        // align-items: center;
    }
    &__item-wrapper{
        margin: 0 6px;
        width: 628px;
        height: 223px;
        padding: 32px;
        display: flex;
        justify-content: space-between;
        align-items:start;
    }
    &__item{
        width: 403px;
    }
    &__descr{
        margin-top: 14px;
    }
    &__photo{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 3px solid $accent-color;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    &__toggle{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        // :last-child{
        //     margin: 0;
        // }
    }
    &__carousel-indicators{
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        display: flex;
        justify-content: center;
        align-items: end;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }
    &__toggle-dot{
        width: 10px;
        height: 10px;
        margin: 0 5px 0 5px;
        // margin-right: 8px;
        border-radius: 100%;
        // background: #D1D1D1;
        box-sizing: content-box;
        flex: 0 1 auto;
        cursor: pointer;
        background-color: #D1D1D1;
        background-clip: padding-box;
        // border-top: 10px solid transparent;
        // border-bottom: 10px solid transparent;
        // opacity: .5;
        // transition: opacity .6s ease;
    }
    &__toggle-dot_active{
        width: 24px;
        height: 10px;
        background: #3562D0;
        margin-right: 10px;
        border-radius: 8px;
        margin: 0 5px 0 5px;
    }
}